html {
	scroll-behavior: smooth;
}

body{
	background-color: #222222 ;
	margin: 0 auto;
	padding: 0;
	font-family: 'Comfortaa', cursive;
    font-family: 'Josefin Sans', sans-serif;
    color: #FFEFD5; 
}

nav {
  background-color: #333;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;

}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  margin: 0 15px;
}

nav a:hover {
  color: #ffd700;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  padding: 10px 20px;
}
header{
	margin: 50px;
	text-align: center;
}
header img{
	border: 7px solid #ffd700;
	border-radius: 40px;
	box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.5);
	width: 450px;
	max-width: 100%;
}
header h1 {
  font-size: 50px;
  color: #FFD700;
  text-align: center;
  margin: 50px 0;
  padding: 10px;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}
header p{
	font-size: 25px;
}
.wrapper{
	max-width: 700px;
	margin: 0 auto;	
}
.sep{
	background-color: #FFEFD5;
	width: 50%;
	border-radius: 40px;
	height: 10px;
	margin: 100px auto;
	box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.5);
	border: 3px solid #ffd700;
	}
.islam-facts h2{
	text-align: center;
	width: 218px;
	color: #FFD700;
	font-size: 40px;
	padding: 10px;
	border: 3px solid #ffd700;
	box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.5);
}
.islam-facts img{
	float: right;
	border: 7px solid #ffd700;
	border-radius: 40px;
	box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.5);
	width: 600px;
	margin-top: -75px;
}
.islam-facts{	
	margin: 40px;
	padding: 20px;
	font-size: 25px;

}

.islam-facts a:hover {
	color: #ffd700;

}


.islam-facts ul li{
	padding: 10px;
	margin: 10px;
}
.pray{
	text-decoration: none;
	color: #FFD700;
	text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}

.pray {
  text-decoration: none;
  color: #FFD700;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}
.pillers-of-islam h2{
	color: #FFD700;
	text-align: center;
	border: 3px solid #ffd700;
	box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.5);
	width: 670px;
	margin: 0 auto;
	padding: 15px;
}

.pillers-of-islam{
	margin: 50px auto;
	padding: 20px;
	font-size: 25px;
	text-align: center;
}

.pillers-of-islam p{
	max-width: 900px;
	margin: 0 auto;
	padding: 40px;
}

.pillers-of-islam img{
	border: 7px solid #ffd700;
	border-radius: 40px;
	box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.5);
	max-width: 900px;
	margin: 40px auto;
}



.shahadah {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%) scale(0);
	transition: 300ms ease-in-out;
	border: 1px solid black;
	border-radius: 10px;
	z-index: 10;
	background-color: #212121;
	width: 75%;
	height: 75%;
	max-width: 80%;
}

.shahadah-open-button {
  background-color: transparent;
  border: 3px solid #ffd700;
  color: #ffd700;
  font-size: 25px;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

.shahadah-open-button:hover {
  background-color: #FFEFD5;
  color: #212121;

}

.shahadah.active {
	transform: translate(-50%,-50%) scale(1);
}



.shahadah-header {
	padding: 20px;
	display: flex;
	justify-content: space-between;
	font-size: 50px;
    color: #FFD700;
    margin: 50px;
    padding: 10px;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}


.shahadah.header.title{
	font-size: 40px;

}



.shahadah-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 60px;
  color: #ffd700; 
}



.shahadah-header .close-button:hover {
  color: #FFEFD5; 
}



.shahadah-body {
	padding: 20px 20px;
	font-size: 25px;
	margin: 40px 0;
}



#overlay {
	position: fixed;
	opacity: 0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	pointer-events: none;
}



#overlay.active {
	opacity: 1;
	pointer-events: all;
}


.salah {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%) scale(0);
	transition: 300ms ease-in-out;
	border: 1px solid black;
	border-radius: 10px;
	z-index: 10;
	background-color: #212121;
	width: 75%;
	height: 75%;
	max-width: 80%;
}

.salah-open-button {
  background-color: transparent;
  border: 3px solid #ffd700;
  color: #ffd700;
  font-size: 25px;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

.salah-open-button:hover {
  background-color: #FFEFD5;
  color: #212121;
}

.salah.active {
	transform: translate(-50%,-50%) scale(1);
}

.salah-header {
	padding: 30px;
	display: flex;
	justify-content: space-between;
	font-size: 50px;
    color: #FFD700;
    margin: 40px;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}

.salah.header.title {
	font-size: 40px;
}

.salah-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 60px;
  color: #ffd700; 
}

.salah-header .close-button:hover {
  color: #FFEFD5; 
}

.salah-body {
	padding: 20px 20px;
	font-size: 16px;
	margin: 40px 0;
}
.salah-body b{
	text-decoration: none;
	color: #ffd700;
}

#overlay {
	position: fixed;
	opacity: 0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	pointer-events: none;
}

#overlay.active {
	opacity: 1;
	pointer-events: all;
}

.sawm {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%) scale(0);
	transition: 300ms ease-in-out;
	border: 1px solid black;
	border-radius: 10px;
	z-index: 10;
	background-color: #212121;
	width: 75%;
	height: 75%;
	max-width: 80%;
}

.sawm-open-button {
  background-color: transparent;
  border: 3px solid #ffd700;
  color: #ffd700;
  font-size: 25px;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

.sawm-open-button:hover {
  background-color: #FFEFD5;
  color: #212121;
}

.sawm.active {
	transform: translate(-50%,-50%) scale(1);
}



.sawm-header {
	padding: 20px;
	display: flex;
	justify-content: space-between;
	font-size: 50px;
    color: #FFD700;
    margin: 50px;
    padding: 10px;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}


.sawm.header.title{
	font-size: 40px;

}



.sawm-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 60px;
  color: #ffd700; 
}



.sawm-header .close-button:hover {
  color: #FFEFD5; 
}



.sawm-body {
	padding: 20px 20px;
	font-size: 25px;
	margin: 40px 0;
}



#overlay {
	position: fixed;
	opacity: 0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	pointer-events: none;
}



#overlay.active {
	opacity: 1;
	pointer-events: all;
}

.zakat {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%) scale(0);
	transition: 300ms ease-in-out;
	border: 1px solid black;
	border-radius: 10px;
	z-index: 10;
	background-color: #212121;
	width: 75%;
	height: 75%;
	max-width: 80%;
}

.zakat-open-button {
  background-color: transparent;
  border: 3px solid #ffd700;
  color: #ffd700;
  font-size: 25px;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.4);
  cursor: pointer;
}


.zakat-open-button:hover {
  background-color: #FFEFD5;
  color: #212121;
}

.zakat.active {
	transform: translate(-50%,-50%) scale(1);
}



.zakat-header {
	padding: 20px;
	display: flex;
	justify-content: space-between;
	font-size: 50px;
    color: #FFD700;
    margin: 50px;
    padding: 10px;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}


.zakar.header.title{
	font-size: 40px;

}



.zakat-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 60px;
  color: #ffd700; 
}



.zakat-header .close-button:hover {
  color: #FFEFD5; 
}



.zakat-body {
	padding: 20px 20px;
	font-size: 20px;
	margin: 40px 0;
}



#overlay {
	position: fixed;
	opacity: 0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	pointer-events: none;
}



#overlay.active {
	opacity: 1;
	pointer-events: all;
}

.hajj {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%) scale(0);
	transition: 300ms ease-in-out;
	border: 1px solid black;
	border-radius: 10px;
	z-index: 10;
	background-color: #212121;
	width: 75%;
	height: 75%;
	max-width: 80%;
}

.hajj-open-button {
  background-color: transparent;
  border: 3px solid #ffd700;
  color: #ffd700;
  font-size: 25px;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.4);
  cursor: pointer;
}


.hajj-open-button:hover {
  background-color: #FFEFD5;
  color: #212121;
}

.hajj.active {
	transform: translate(-50%,-50%) scale(1);
}



.hajj-header {
	padding: 20px;
	display: flex;
	justify-content: space-between;
	font-size: 50px;
    color: #FFD700;
    margin: 50px;
    padding: 10px;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}


.hajj.header.title{
	font-size: 40px;

}



.hajj-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 60px;
  color: #ffd700; 
}



.hajj-header .close-button:hover {
  color: #FFEFD5; 
}



.hajj-body {
	padding: 20px 20px;
	font-size: 22px;
	margin: 40px 0;
}



#overlay {
	position: fixed;
	opacity: 0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	pointer-events: none;
}



#overlay.active {
	opacity: 1;
	pointer-events: all;
}

.special-wrapper{
	width: 912px;
	max-width: 100%;
	text-align: center;
	margin:0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	margin-top: -90px;
}

footer {
  background-color: transparent;
  color: #FFEFD5;
  font-size: 18px;
  padding: 20px;
  text-align: center;
}

footer a {
  color: #ffd700;
  text-decoration: none;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}

footer a:hover {
  color: white;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}